parameters:
    level: 8
    paths:
        - src
    excludePaths:
        - src/Resources/assets/*
    reportUnmatchedIgnoredErrors: false
    ignoreErrors: []

includes:
  - vendor/nowo-tech/phpstan-frankenphp/ruleset-classic.neon
  - vendor/nowo-tech/phpstan-frankenphp/ruleset-worker.neon
