<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         cacheDirectory=".phpunit.cache"
>
    <testsuites>
        <testsuite name="unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="integration">
            <directory>tests/Integration</directory>
        </testsuite>
        <testsuite name="e2e">
            <directory>tests/E2E</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="APP_ENV" value="test"/>
        <env name="VAULT_ENCRYPTION_KEY" value="AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA="/>
    </php>
    <source>
        <include>
            <directory>src</directory>
        </include>
        <exclude>
            <!-- Controllers/forms/repos are covered by E2E; excluded from the 100% release gate -->
            <directory>src/Resources</directory>
            <directory>src/Controller</directory>
            <directory>src/Repository</directory>
            <directory>src/Form</directory>
            <directory>src/Doctrine</directory>
            <file>src/Security/VaultAccessCheckerInterface.php</file>
            <file>src/Security/VaultPayloadCryptographerInterface.php</file>
            <file>src/Security/VaultTeamMembershipResolverInterface.php</file>
            <file>src/Repository/VaultItemRepositoryInterface.php</file>
            <file>src/Repository/VaultFolderRepositoryInterface.php</file>
            <file>src/Repository/VaultGrantRepositoryInterface.php</file>
        </exclude>
    </source>
</phpunit>
