{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="alert alert-{{ label == 'success' ? 'success' : 'danger' }}">{{ message }}</div>
    {% endfor %}
{% endfor %}
